{% extends "base.html" %}

{% block title %}{{ password.name }}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/passwords/view.css">
{% endblock %}

{% block scripts %}
    <script type="module" src="/static/js/passwords/view.js"></script>
{% endblock %}

{% block tabs %}
    <li class="current"><a href="/passwords">Passwords</a></li>
    <li><a href="/me">Account</a></li>
{% endblock %}
{% block content %}

    <label for="title"></label>
    <label for="username"></label>
    <label for="password"></label>
    <label for="url"></label>
    <label for="note"></label>

    <form id="editPasswordForm" class="form" action="">
        <div class="form-head">
            <div class="image-cropper">
                <img class="circle-pic" id="password-pic" src="/static/assets/key_1024x1024.png" alt="Password picture">
            </div>
            <h2>Edit password</h2>
            <input type="hidden" id="passwordId" value="{{ password.id }}"/>
        </div>
        <div class="form-fields">
            <div class="form-field">
                <input type="text" class="input-field" id="title"
                       value="{{ password.name }}"
                       placeholder="Name">
            </div>
            <div class="form-field">
                <input type="text" class="input-field" id="username"
                       value="{{ password.username }}"
                       placeholder="Username">
            </div>
            <div class="form-field">
                <input type="password" class="input-field password" id="password"
                       value="{{ password.password }}"
                       placeholder="Password">
                <span class="copy material-icons md-20">content_copy</span>
                <span class="toggle-visibility material-icons md-20">visibility</span>
            </div>
            <div class="form-field">
                <input type="text" class="input-field" id="url" value="{{ password.url }}"
                       placeholder="URL">
            </div>
            <div class="form-field">
                <input type="text" class="input-field" id="note" value="{{ password.note }}"
                       placeholder="Note">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn" id="savePasswordButton">Save</button>
            <button type="button" class="btn icon-btn" id="back" onclick="history.back()"><span
                    class="material-icons md-20">arrow_back</span></button>
        </div>
    </form>
{% endblock %}
