{% extends "base.html" %}

{% block title %}{{ password.name }}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/passwords/view.css">
{% endblock %}

{% block scripts %}
    <script type="module" src="/static/js/passwords/view.js"></script>
{% endblock %}

{% block tabs %}
    <li class="current"><a href="/passwords">Passwords</a></li>
    <li><a href="/me">Profile</a></li>
{% endblock %}
{% block content %}

    <label for="username"></label>
    <label for="password"></label>
    <label for="url"></label>
    <label for="note"></label>

    <form id="viewForm" class="form">
        <div class="form-head">
            <span class="material-icons md-48" style="color: var(--blue-color-50);">key</span>
            <!-- Иконка ключа, синего цвета -->
            <input type="hidden" id="passwordId" value="{{ password.id }}"/>
            <h2 title="ID: {{ password.id }}">{{ password.name }}</h2>
        </div>
        <div class="form-fields">
            <div class="form-field">
                <input type="text" class="input-field" id="username"
                       value="{{ password.username }}"
                       placeholder="Username"
                       readonly>
            </div>
            <div class="form-field">
                <input type="password" class="input-field password" id="password"
                       value="{{ password.password }}"
                       placeholder="Password" readonly>
                <span class="toggle-visibility material-icons md-20">visibility</span>
            </div>
            <div class="form-field">
                <input type="text" class="input-field" id="url" value="{{ password.url }}"
                       placeholder="URL" readonly>
            </div>
            <div class="form-field">
                <input type="text" class="input-field" id="note" value="{{ password.note }}"
                       placeholder="Note"
                       readonly>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" class="btn copy">Copy to clipboard&nbsp;<span class="material-icons md-20">content_copy</span>
            </button>
            <button type="button" class="btn icon-btn" id="edit"
                    onclick='document.location.assign("/passwords/{{ password.id }}/edit")'><span
                    class="material-icons md-20">edit</span></button>
            <button type="button" class="btn icon-btn danger-btn" id="deletePasswordButton"><span
                    class="material-icons md-20">delete</span>
            </button>
        </div>
    </form>
{% endblock %}
