:root {
    --base-color-90: #1a1d20;
    --base-color-85: #232529;
    --base-color-80: #2a2e33;
    --base-color-70: #3a3d46;
    --base-color-60: #4b4f59;
    --base-color-50: #5c616d;
    --base-color-40: #7c8189;
    --base-color-30: #9ca0a7;
    --base-color-20: #bcc0c5;
    --base-color-10: #dce0e3;
    --base-color-0: #ffffff;

    /* Синий */
    --blue-color-90: #003d66;
    --blue-color-80: #005080;
    --blue-color-70: #006699;
    --blue-color-60: #007db3;
    --blue-color-50: #0093cc;
    --blue-color-40: #00aae6;
    --blue-color-30: #33bbff;
    --blue-color-20: #66ccff;
    --blue-color-10: #99ddff;
    --blue-color-0: #cceeff;

    /* Зеленый */
    --green-color-90: #003d00;
    --green-color-80: #005200;
    --green-color-70: #006600;
    --green-color-60: #007a00;
    --green-color-50: #009900;
    --green-color-40: #00b300;
    --green-color-30: #00cc00;
    --green-color-20: #33e633;
    --green-color-10: #66ff66;
    --green-color-0: #99ff99;

    /* Красный */
    --red-color-90: #4d0015;
    --red-color-80: #66001a;
    --red-color-70: #80001f;
    --red-color-60: #990024;
    --red-color-50: #b30029;
    --red-color-40: #cc0030;
    --red-color-30: #e60036;
    --red-color-20: #ff3342;
    --red-color-10: #ff6671;
    --red-color-0: #ff9985;

    --header-color: var(--base-color-0);
    --header-bg-color: var(--base-color-80);
    --header-border-color: var(--blue-color-50);
    --header-tab-color: var(--base-color-10);
    --header-current-tab-color: var(--base-color-0);

    --footer-bg-color: var(--base-color-90);
    --footer-color: var(--base-color-10);

    --link-color: var(--header-border-color);
    --label-color: var(--base-color-0);
    --label-secondary-color: var(--base-color-10);

    --input-bg-color: var(--header-bg-color);
    --input-color: var(--header-color);
    --input-border-color: var(--base-color-20);

    --button-bg-color: var(--blue-color-50);
    --button-bg-color-hover: var(--blue-color-70);
    --button-color: var(--base-color-0);
    --danger-button-bg-color: var(--red-color-50);
    --danger-button-bg-color-hover: var(--red-color-70);
    --safe-button-bg-color: var(--green-color-50);
    --safe-button-bg-color-hover: var(--green-color-70);

    --table-bg-color: var(--base-color-85);
    --table-color: var(--base-color-0);
    --table-link-color: var(--blue-color-50);
    --table-header-color: var(--header-tab-color);
    --table-header-bg-color: var(--header-bg-color);
    --table-row-hover-bg-color: var(--header-bg-color);

    --form-bg-color: var(--header-bg-color);
}
