:root {
    --base-color-90: #1a1c1f;
    --base-color-85: #232529;
    --base-color-80: #2b2e34;
    --base-color-70: #3a3d42;
    --base-color-60: #4a4e52;
    --base-color-50: #64686c;
    --base-color-40: #7c8084;
    --base-color-30: #94989c;
    --base-color-20: #ccc;
    --base-color-10: #c8d1d9;
    --base-color-0: #ffffff;

    --blue-color-90: #005580;
    --blue-color-80: #006699;
    --blue-color-70: #0077b3;
    --blue-color-60: #0088cc;
    --blue-color-50: #0099e6;
    --blue-color-40: #00aaff;
    --blue-color-30: #33bbff;
    --blue-color-20: #66ccff;
    --blue-color-10: #99ddff;
    --blue-color-0: #cceeff;

    --green-color-90: #004d00;
    --green-color-80: #006600;
    --green-color-70: #007f00;
    --green-color-60: #009900;
    --green-color-50: #00b300;
    --green-color-40: #00cc00;
    --green-color-30: #00e600;
    --green-color-20: #00ff00;
    --green-color-10: #33ff33;
    --green-color-0: #66ff66;

    --red-color-90: #660000;
    --red-color-80: #800000;
    --red-color-70: #990000;
    --red-color-60: #b30000;
    --red-color-50: #cc0000;
    --red-color-40: #e60000;
    --red-color-30: #ff0000;
    --red-color-20: #ff3333;
    --red-color-10: #ff6666;
    --red-color-0: #ff9999;

    --header-color: var(--base-color-0);
    --header-bg-color: var(--base-color-80);
    --header-border-color: var(--blue-color-50);
    --header-tab-color: var(--base-color-10);
    --header-current-tab-color: var(--base-color-0);

    --footer-bg-color: var(--base-color-90);
    --footer-color: var(--base-color-10);

    --link-color: var(--header-border-color);
    --label-color: var(--base-color-0);
    --label-secondary-color: var(--base-color-10);

    --input-bg-color: var(--header-bg-color);
    --input-color: var(--header-color);
    --input-border-color: var(--base-color-20);

    --button-bg-color: var(--header-border-color);
    --button-bg-color-hover: var(--blue-color-70);
    --button-color: var(--base-color-0);
    --danger-button-bg-color: var(--red-color-50);
    --danger-button-bg-color-hover: var(--red-color-70);
    --safe-button-bg-color: var(--green-color-50);
    --safe-button-bg-color-hover: var(--green-color-70);

    --table-bg-color: var(--base-color-85);
    --table-color: var(--base-color-0);
    --table-link-color: var(--blue-color-50);
    --table-header-color: var(--header-tab-color);
    --table-header-bg-color: var(--header-bg-color);
    --table-row-hover-bg-color: var(--header-bg-color);

    --form-bg-color: var(--header-bg-color);
}
