.password-title-date {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.password-title-date h2 {
    margin: 0;
}

#updated_at {
    text-align: center;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
}
