{% extends "base.html" %}

{% block title %}{{ user.name }}{% endblock %}

{% block tabs %}
    <li><a href="/passwords">Passwords</a></li>
    <li class="current"><a href="/me">Account</a></li>
{% endblock %}

{% block scripts %}
    <script type="module" src="/static/js/auth/logout.js"></script>
{% endblock %}

{% block content %}
    <label for="name"></label>
    <label for="email"></label>

    <form id="viewForm" class="form">
        <div class="form-head">
            <div class="image-cropper">
                <img class="circle-pic" src="/static/assets/logo_1024x1024.png" alt="App Logo">
            </div>
            <h2>My account</h2>
        </div>
        <div class="form-fields">
            <div class="form-field">
                <input type="text" class="input-field" id="name"
                       value="{{ user.name }}"
                       placeholder="Name" readonly>
            </div>
            <div class="form-field">
                <input type="email" class="input-field" id="email"
                       value="{{ user.email }}"
                       placeholder="Email" readonly>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" class="btn" id="back" onclick="history.back()">Back</button>
            <button type="button" class="btn icon-btn" id="logout"><span
                    class="material-icons md-20">logout</span></button>
        </div>
    </form>
{% endblock %}
