{% extends "base.html" %}

{% block title %}{{ user.name }}{% endblock %}

{% block tabs %}
    <li><a href="/passwords">Passwords</a></li>
    <li class="current"><a href="/me">Profile</a></li>
{% endblock %}

{% block scripts %}
    <script type="module" src="/static/js/auth/logout.js"></script>
{% endblock %}

{% block content %}
    <label for="name"></label>
    <label for="email"></label>

    <form id="viewForm" class="form">
        <div class="form-head">
            <span class="material-icons md-48" style="color: var(--blue-color-50);">person</span> <!-- Иконка ключа, синего цвета -->
            <h2>{{ user.name }}</h2>
        </div>
        <div class="form-fields">
            <div class="form-field">
                <input type="email" class="input-field" id="email"
                       value="{{ user.email }}"
                       placeholder="Email" readonly>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" class="btn danger-btn" id="logout">Logout&nbsp;<span
                    class="material-icons md-20">logout</span></button>
        </div>
    </form>
{% endblock %}
